<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/admin/articles/save">
                <input class="form-control mb-3" type="text" name="title" placeholder="Define o título do artigo">
                <select name="category" class="form-control mb-3">
                    <option value="" disabled selected>Selecione a Categoria</option>
                    <% categories.forEach((category) => { %>
                        <option value="<%- category.id %>"><%- category.title %></option>
                    <% })%>
                </select>
                <textarea name="body" id="article" class="form-control" placeholder="Escreva o artigo aqui"></textarea>
                <button class="btn btn-success mt-3">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        language: 'pt_BR',
        selector: '#article',
        plugins: [
            'advlist autolink link advimage lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
    })
</script>

